__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
*.db
*.sqlite3
.env

#frontend
/frontend/node_modules
/frontend/dist
/frontend/build
/frontend/public
/frontend/src/assets/

# OS
.DS_Store
Thumbs.db

